:root {
    --red: #e33101;
    --black: #282432;
    --black-border: #000;
    --blue-bottom: #506df5;
    --blue-top: #374aa8;
    --yellow: #f4d558;
    --green: #03561e;
    --darkblue: #142e8f;
  }

  .green:hover   { background-color: var(--yellow);   }
.yellow:hover  { background-color: var(--darkblue); }
.darkblue:hover{ background-color: var(--red);      }
.red:hover     { background-color: var(--green);    }