.wrapper {
    position: relative;
}

.gradient {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right,
            var(--blue-bottom),
            var(--blue-top));
    z-index: -1;
}

.languageBox {
    position: absolute;
    top: 12px;
    right: 12px;
}